<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome - {{ loguser }}</title>

    <!-- Bootstrap -->
     <link href="{{ url_for('static',filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
	 
	 <link href="css/bootstrap-4.4.1.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-dropdown" data-app-modern-menu="true">
			  <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
             </li>
             <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="javascript:{}" onclick="member('insert')">Add New Member</a>
				  <a class="dropdown-item" href="javascript:{}" onclick="member('update')">Update Member</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">List of Active Members</a>
				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teams</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Team</a>
				  <a class="dropdown-item" href="#">Update Team</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View Teams</a>

				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fixtures</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Fixture</a>
				  <a class="dropdown-item" href="#">Update Fixture</a>
					<div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View fixtures</a>
				  <!--<div class="dropdown-divider"></div> -->

				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clubs</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Club</a>
				  <a class="dropdown-item" href="#">Update Club</a>
					<div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View clubs</a>
				  <a class="dropdown-item" href="#">View club News</a>
				</div>
          </li>
			<li class="nav-item">
            	<a class="nav-link" href="#">Grade Eligibility</a>
            </li>
			  <li class="nav-item">
                <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
             </li>
          </ul>
       </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
       
       <p class="lead">
	    <!-- <img src="{{ url_for('static',filename='images/premiership-rugby.jpg') }}" alt="" width="600" height="300" class="rounded-circle img-fluid"/> </p> -->
      <hr class="my-4">
       <p>Member Name:&nbsp; <div class="alert-primary">{{ loguser }}</div></p>
	   <p>Member ID:&nbsp; {{ memberid }}</p>
		<p>Member Type:&nbsp; <span class="alert-success">Admin Member</span></p>
	  <form action="/adminuser" id="adminuserform" name="adminuserform" method="POST">
		<input type="hidden" name="dbaction" id="dbaction" value={{ dbaction }}>
		<input type="hidden" name="memberid" id="memberid" value={{ memberid }}>
		<input type="hidden" name="memname" id="memname" value={{ loguser }}>
		<input type="hidden" name="pagename" id="pagename">
	  </form>
  </div>
	
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script>
	<script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
	<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
	<script src="{{ url_for('static',filename='js/bootstrap-4.4.1.js') }}"></script>
	
	<script language="javascript">
		function member(p_mode){
			if(p_mode == "insert"){
				document.getElementById("pagename").value = "member_insert";
				document.getElementById('adminuserform').submit();
				
			}
			else if(p_mode == 'update')
				document.getElementById("pagename").value = "member_update";
				document.getElementById('adminuserform').submit();
		}
	</script>
  </body>
</html>
