<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Welcome - {{ loguser }}</title>

    <!-- Bootstrap -->
     <link href="{{ url_for('static',filename='css/bootstrap-4.4.1.css') }}" rel="stylesheet">
	 
	 <link href="css/bootstrap-4.4.1.css" rel="stylesheet">

  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

       <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto nav-dropdown" data-app-modern-menu="true">
			  <li class="nav-item active">
                <a class="nav-link" href="#">Home</a>
             </li>
             <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Members</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Add New Member</a>
				  <a class="dropdown-item" href="#">Update Member</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">List of Active Members</a>
				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Teams</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Team</a>
				  <a class="dropdown-item" href="#">Update Team</a>
				  <div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View Teams</a>

				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Fixtures</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Fixture</a>
				  <a class="dropdown-item" href="#">Update Fixture</a>
					<div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View fixtures</a>
				  <!--<div class="dropdown-divider"></div> -->

				</div>
          </li>
			  
		  <li class="nav-item dropdown">
				<a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Clubs</a>
				<div class="dropdown-menu" aria-labelledby="navbarDropdown">
				  <a class="dropdown-item" href="#">Create New Club</a>
				  <a class="dropdown-item" href="#">Update Club</a>
					<div class="dropdown-divider"></div>
				  <a class="dropdown-item" href="#">View clubs</a>
				  <a class="dropdown-item" href="#">View club News</a>
				</div>
          </li>
			<li class="nav-item">
            	<a class="nav-link" href="#">Grade Eligibility</a>
            </li>
			  <li class="nav-item">
                <a class="nav-link" href="/">Logout <span class="sr-only">(current)</span></a>
             </li>
          </ul>
       </div>
    </nav>

    <div class="jumbotron jumbotron-fluid text-center">
       
       <p class="lead">
      <p>Member Name:&nbsp; <span class="text-primary">{{ loguser }}</span></p>
	  	<p>Member ID:&nbsp; {{ memberid }}</p>
		<p>Member Type:&nbsp; <span class="alert-success">Admin Member</span></p>
      <hr class="my-4">
	  <h1 class="display-4"> Member Details</h1>
		
	  <!--<form action="/adminuser" id="adminuserform" name="adminuserform" method="POST"> -->
		
  </div>
	


    
		
	      <div class="form-group">
			  <form class="col-xl-5 offset-xl-3" action="/adminuser" id="MAINFORM" name="MAINFORM" method="POST">
		
		<input type="hidden" name="memberid" id="memberid" value="{{ memberid }}">
		<input type="hidden" name="memname" id="memname" value="{{ loguser }}">
		<input type="hidden" name="pagename" id="pagename">
		<input type="hidden" name="vclubid" id="vclubid" value="{{ vclubid }}">
		<input type="hidden" name="vteamid" id="vteamid" value="{{ vteamid }}">
	    <input type="hidden" name="vmemstatus" id="vmemstatus" value="{{ vmemstatus }}">
	    <input type="hidden" name="vadmin" id="vadmin" value="{{ vadmin }}">
		<input type="hidden" name="dbaction" id="dbaction" value="{{ dbaction }}">
	        <label for="textmemberid">Member ID</label>
			  <table>
				  <tr><td>
	        <input type="number" class="form-control" id="intmemberid" name="intmemberid" placeholder="Member ID" value="{{ memberid }}" ></td><td><input type="button" class="form-control btn-outline-dark" name="fetchmember" value="..." onClick="getMemberDetail()"></td>
				</tr>
			</table>
			  <br>
	        <!-- <small id="emailHelp1" class="form-text text-muted">We'll never share your email with anyone else.</small>-->
			
			<label for="textfirstname">Member First Name<span class="text-danger">*</span></label>
	        <input type="text" class="form-control" id="textfirstname" name="textfirstname" placeholder="Member First Name" maxlength="50" value="{{ fname }}" >
			  <div name="divfname" id="divfname" class="text-danger" style="display:none">Member First name is mandatory</div>
				  
			<br>
				  
			<label for="textlastname">Member Last Name<span class="text-danger">*</span></label>
	        <input type="text" class="form-control" id="textlastname" name="textlastname" placeholder="Member Last Name" maxlength="50" value="{{ lastname }}">
			<div name="divlname" id="divlname" class="text-danger" style="display:none">Member Last name is mandatory</div>
				 
			<br>
			<label for="drpclubname">Club<span class="text-danger">*</span></label>
	        <select class="form-control" name="drpclubname" id="drpclubname">
					<option SELECTED value='0'>Select club</option>
					{% for clubid,clubname in clubsdet.items() %}
					  <option value= '{{ clubid }}'>{{clubname}}</option>
					{% endfor %}
			</select>
			  <div name="divclubid" id="divclubid" class="text-danger" style="display:none">Club is mandatory</div>
				  
			<br>
			<label for="drpteamname">Team</label>
	        <select class="form-control" name="drpteamname" id="drpteamname">
					<option SELECTED value='0'>No Team Assigned</option>
					{% for teamid, teamname in teamsdet.items() %}
					  <option value= '{{ teamid }}'>{{teamname}}</option>
					{% endfor %}
			</select>
			  <br>
			<label for="textadd1">Address Line 1</label>
	        <input type="text" class="form-control" id="textadd1" name="textadd1" maxlength="50" value="{{ address1 }}">
			<br>
			<label for="textadd2">Address Line 2</label>
	        <input type="text" class="form-control" id="textadd2" name="textadd2" maxlength="50" value="{{ address2 }}">
			<br>
			<label for="textcity">City<span class="text-danger">*</span></label>
	        <input type="text" class="form-control" id="textcity" name="textcity" maxlength="30" placeholder="City" value="{{ cityname }}">
			<div name="divcity" id="divcity" class="text-danger" style="display:none">City is mandatory</div> 
			
			<br>
			<label for="textemail">Email<span class="text-danger">*</span></label>
	        <input type="email" class="form-control" id="textemail" name="textemail" maxlength="320" placeholder="Email" value="{{ emailid }}">
			<div name="divemail" id="divemail" class="text-danger" style="display:none">Email is mandatory</div>  
			
			<br>
			<label for="textephone">Phone</label>
	        <input type="tel" class="form-control" id="textephone" name="textephone" maxlength="10" placeholder="10 digit phone" value="{{ phonenumber }}">
			  
			<br>
			<label for="textdob">Date of Birth<span class="text-danger">*</span></label>
	        <input type=date class="form-control" id="textdob" name="textdob" value="{{ dateofbirth }}">
			<div name="divdob" id="divdob" class="text-danger" style="display:none">Birth Date is mandatory</div>  
				  
			<br>
			<label for="drpstatus">Membership Status<span class="text-danger">*</span></label>
	        <select class="form-control" name="drpstatus" id="drpstatus">
					<option SELECTED value='1' {{ activesel }}>Active</option>
					<option SELECTED value='0' {{ inactivesel }}>Inactive</option>
			</select>
			<div name="divstatus" id="divstatus" class="text-danger" style="display:none">Membership status is mandatory</div>  
			
			<br>
			<label for="drpaccess">Admin Acess<span class="text-danger">*</span></label>
	        <select class="form-control" name="drpaccess" id="drpaccess">
					<option SELECTED value='1' {{ adminsel }}>Admin Member</option>
					<option SELECTED value='0' {{ stdsel }}>Standard Member</option>
			</select>
				  <div name="divaccess" id="divaccess" class="text-danger" style="display:none">Admin access is mandatory</div>
			<br><br>
			<button type="submit" class="btn btn-primary col-xl-5 offset-xl-3" name="btnsubmit" onClick="return saveMemberDetail()">Save</button>
				  </form>
		</div>

	      
  
	  
	  
  <script language="javascript">
		if(document.MAINFORM.dbaction.value == "INSERT"){
		   	document.MAINFORM.intmemberid.disabled = true;
			document.MAINFORM.fetchmember.disabled = true;
		   }
		else if(document.MAINFORM.dbaction.value == "UPDATE"){
			document.MAINFORM.intmemberid.disabled = false;
			document.MAINFORM.fetchmember.disabled = false;
		}
	  
	  document.MAINFORM.drpclubname.value = document.MAINFORM.vclubid.value;
	  document.MAINFORM.drpteamname.value = document.MAINFORM.vteamid.value;
	  document.MAINFORM.drpstatus.value = document.MAINFORM.vmemstatus.value;
	  document.MAINFORM.drpaccess.value = document.MAINFORM.vadmin.value;
	  
 
	  function getMemberDetail(){
		  vmemid = document.MAINFORM.intmemberid.value;
		  if(vmemid==""){
			  alert("member id is mandatory");
			  document.MAINFORM.intmemberid.focus();
		  }
		  else {
			document.MAINFORM.pagename.value = "admingetmemberdetail";
			document.getElementById('MAINFORM').submit();
		  }
	  }
	  function saveMemberDetail(){
		  if(document.MAINFORM.drpclubname.value == "0") {
			  document.getElementById("divclubid").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.textfirstname.value == "") {
			  document.getElementById("divfname").style.display = "block";
			  return false;
		  }
		  
		  else if(document.MAINFORM.textlastname.value == "") {
			  document.getElementById("divlname").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.textcity.value == "") {
			  document.getElementById("divcity").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.textemail.value == "") {
			  document.getElementById("divemail").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.textdob.value == "") {
			  document.getElementById("divdob").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.drpstatus.value == "") {
			  document.getElementById("divstatus").style.display = "block";
			  return false;
		  }
		  else if(document.MAINFORM.drpaccess.value == "") {
			  document.getElementById("divaccess").style.display = "block";
			  return false;
		  }
		  
		  
		  document.MAINFORM.pagename.value = "saveMemberDetail";
		  document.MAINFORM.intmemberid.disabled = false;
		  return true;
	  }
		
	</script>	  
	  
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) --> 
    <script src="js/jquery-3.4.1.min.js"></script>
	<script src="{{ url_for('static',filename='js/jquery-3.4.1.min.js') }}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed --> 
    <script src="js/popper.min.js"></script>
	<script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
    <script src="js/bootstrap-4.4.1.js"></script>
	<script src="{{ url_for('static',filename='js/bootstrap-4.4.1.js') }}"></script>
	
	<script language="javascript">
		function submit_clubnews(){
			document.getElementById("pagename").value = "clubnews_stuser";
			document.getElementById('stuserform').submit();
		}
		
		function submit_profile(){
			document.getElementById("pagename").value = "profile_stuser";
			document.getElementById('stuserform').submit();
		}
		function submit_fixture(){
			document.getElementById("pagename").value = "fixtures_stuser";
			document.getElementById('stuserform').submit();
		}
		
	</script>
  </body>
</html>
